*{
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;

	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
html,
body{
	width: 100vw;
	background-color: black;
}

a {
	color: white;
	text-decoration: none;
	font-size: 0.8rem;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: 10%;
	color: white;
}

.menu-toggle{
	position: absolute;
	top: 25px;
	left: 50%;
	transform: translateX(-50%);
	width: 40px;
	height: 25px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu-toggle span{
	width: 100%;
	height: 3px;
	background-color: white;
}

.sidebar h2{
	position: absolute;
	top: 30%;
	left: 50%;
	font-size: 1.2rem;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateY(-50%);
}

.categories{
	position: absolute;
	bottom: 0;
	width: 350px;
	left: 50%;
	transform-origin: 0 0;
	transform: rotate(-90deg) translateY(-50%);
}

.categories ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
}




.image-grid{
	position: relative;
	left: 10%;
	width: 90%;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: 0.2rem;
}

.overlay{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(5, 102, 206, 0.112) ;
	pointer-events: none;
}

.image{
	position: relative;
	background-size: cover;
	background-position: center;
	filter: grayscale(50%);
}

.vertical{
	grid-row: span 2;
}

.horizontal{
	grid-column: span 2;
	position: bottom;
}

.seven {
	background-image: url(images/image7.jpeg);
}
.eight {
	background-image: url(images/image8.jpeg);
}
.nine {
	background-image: url(images/image9.jpeg);
}
.ten {
	background-image: url(images/image10.jpeg);
}
.eleven {
	background-image: url(images/image11.jpeg);
}
.twelve {
	background-image: url(images/image12.jpeg);
	background-position: 0 70%;
}
